.cardDetails{
    display: flex;   
    width: 100vw;
    height: 100vh;
    margin:0;
    background-image: url("C:\Users\decap\Desktop\PI-Countries-main\client\src\Img\create-activity.png");
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover; 
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 20px;

}

.flagContainer{
    display: flex;  
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: none;
    opacity: 90%;
    box-shadow: 5px 5px 8px #c03daf, -5px -5px 8px rgb(156, 65, 231);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
}

.flagimg{
    width: 350px;
    height: 250px;
}


.dataContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 70px;
 
  

}
.buttonDetails {  
    position: fixed; 
    top: 10px; 
    right: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.buttonDetails:hover {
    letter-spacing: 3px;
    background-color: rgb(220, 24, 138);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.buttonDetails:active{
    letter-spacing: 3px;
    background-color: rgb(220, 24, 187);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;

}

.cardDetailContainer{
    display: flex;  
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: none;
    opacity: 90%;
    box-shadow: 5px 5px 8px #c03daf, -5px -5px 8px rgb(156, 65, 231);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
}


.btoncreate{     
    top: 10px; 
    right: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 17px 40px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(68, 13, 61);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 10px;
    transition: all .5s ease;
    color: whitesmoke;
}
.btoncreate:hover{
    letter-spacing: 3px;
    background-color: rgb(107, 8, 66);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(192, 13, 96) 0px 7px 29px 0px;
}


.idtitle{
    font-family:Arial, Helvetica, sans-serif;  
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}



