.grid-container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "navBar"
    "appTitle"
    "filters"
    "pagination"
    "cards-content"
    "refreshButtonDiv";
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-rows: 75px 30px 100px 50px 50px auto 50px;
    }
}

.HomeContainer {
    background-image: url('C:\Users\decap\Desktop\PI-Countries-main\client\src\Img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.appTitle {
    font-size: 60px;
    color: #252524;
    font-family: "Comic Sans MS", Gadget, sans-serif;
    position: relative;
    margin-bottom: 20px;
    margin-top: -20px;
}

.cards-content {    
    display: flex;
    justify-content: space-around;
}

.cards-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}



.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.refreshButton {      
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.refreshButton:hover {
    letter-spacing: 3px;
    background-color: rgb(220, 24, 138);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
button:active {
    letter-spacing: 3px;
    background-color: rgb(220, 24, 187);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

   .filter{
    color: #373538 solid;
    font-weight:bold;
    font-family: "Comic Sans MS", Gadget, sans-serif;
    padding: 8px 30px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(90, 79, 248);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    opacity: 80%;   
    margin-left: 5px;

   }
.filter:hover{
    letter-spacing: 3px;
    background-color: rgb(10, 54, 248);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(113, 12, 245) 0px 7px 29px 0px;


}
