.HomeContainer{    
    background-image: url('C:\Users\decap\Desktop\PI-Countries-main\client\src\Img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:auto;

}
.grid-container {   
    display: grid;
    gap: 30px;
    height:auto;
    grid-template-areas: 
    "navBar"
    "appTitle"
    "filters"
    "pagination"
    "cards-content"
    "refreshButtonDiv";
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.appTitle {
    font-size: 60px;
    color: #252524;
    font-family: "Comic Sans MS", Gadget, sans-serif;
    position: relative;
    margin-bottom: 20px;
    margin-top: -30px;
}

.cards-content {    
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.cards-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}



.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3px;
    margin-top: -50px;
}



.refreshButton {      
    color: #373538 solid;
    font-weight:bold;
    font-family: "Comic Sans MS", Gadget, sans-serif;
    padding: 8px 20px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    opacity: 80%;
    margin-left: 5px;     
    margin-bottom: 50px;
}

.refreshButton:hover {
    letter-spacing: 3px;
    background-color: rgb(220, 24, 138);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
button:active {
    letter-spacing: 3px;
    background-color: rgb(220, 24, 187);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

   .filter{
    color: #373538 solid;
    font-weight:bold;
    font-family: "Comic Sans MS", Gadget, sans-serif;
    padding: 8px 20px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(90, 79, 248);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    opacity: 80%;
    margin-left: 5px;     
    margin-bottom: 50px;

   }
.filter:hover{
    letter-spacing: 3px;
    background-color: rgb(10, 54, 248);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(113, 12, 245) 0px 7px 29px 0px;


}
.filters{
    display:flex;  
    justify-content: center; 
    margin-top: -10px;
    


}

.previousNext{
width: auto;
border: 1px solid;
background:  #cf60aa; 
margin-left: 10px;
color:rgba(20, 20, 20, 0.6) ;
border-radius: 10px;
overflow: hidden;
position: relative;
font-weight: bold; 
justify-items: center; 
font-family: "Comic Sans MS", Gadget, sans-serif;
font-size: medium; 
text-decoration: none;

}

#previous{
    margin-right: -30px;
}
