.p {
    color:red
}

.createActivityGrid {
    background-image: url("C:\Users\decap\Desktop\PI-Countries-main\client\src\Img\create-activity.png");
    background-size: cover;
    display: grid;
    grid-template-areas: 
    "navBarCreate"
    "contentCreate"
    "buttonCreateHome"
    
}

@media (min-width: 3000px) {
    .createActivityGrid {
        grid-template-rows: 50px 75px 50px;
        
    }
}

.navBarCreate {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    background: none;
}

.buttonCreateHome { 
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
  
}

.buttonCreateHome:hover {
    letter-spacing: 3px;
    background-color: rgb(220, 24, 138);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   
}

.buttonCreateHome:active {
    letter-spacing: 3px;
    background-color: rgb(220, 24, 187);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }



 .contentCreate{
    background: none;
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;    
 }


 .DeleteCountry{
    color: red;
    background: none;
    border: none;
    font-size: medium;
    font-weight: bold;
 }


 .createButton {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #530477;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #5b1975;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #561470;
}

.createButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #a115cc;
  }
  
.createButton:active {
    transform: scale(0.9);
  }

 