.searchContainer {
    display: flex;
    align-items: center; 
    justify-content: left;
    position: relative;
    margin-left: 1050px;
}

.input {
    font-family: "Comic Sans MS", Gadget, sans-serif;
    min-height: 48px;
    max-width: 180px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
   }

   
   
   .input:focus, input:hover {
    border-color: #3898EC;
    outline: none;
   }
   

   .buttonSearch{
 font-family: "Comic Sans MS", Gadget, sans-serif;
 min-height: 50px;
 padding: .5em 1em;
 border: none;
 border-radius: 0 6px 6px 0;
 background-color: #5e4dcd;
 color: #fff;
 font-size: 15px;
 cursor: pointer;
 transition: background-color .3s ease-in-out;

   }

   .buttonSearch:hover {
    background-color: #5e5dcd;
  }
   
   
   
