.navContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 10px;  
   justify-content: center;
   margin-left: 700px;
}

.navButton {    
    font-family:"Impact";
    font-size: 30px;
    font-weight: bold;
    color:#232224;
    text-decoration: none;  
      
}

.navButton:hover {
    background: #8a43aa;
    text-decoration: none;
    border-radius: 50px;
    opacity: 50%;

}